* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --color-background: #1e1e1e;
    --color-background-secondary: #2a2a40;

    --color-text: #E0E0E0;
    --color-text-secondary: #AAAAAA;
  
    --color-accent: #A259FF;
    --color-hover: #BB86FC;
    --color-success: #50FA7B;
    --color-error: #FF5555;
}

body {
    padding: 0 20px; 
    background-color: var(--color-background);
    height: 100vh;
    overflow: hidden;
}

header {
    border: 2px solid red;
    padding: 0 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
}

.header-logo {
    font-size: 40px;
    color: var(--color-text); 
}

.header-cursor {
    color: var(--color-accent);
    animation: cursorAnimation 1s step-start infinite;
}

@keyframes  cursorAnimation{
    50% {
        opacity: 0;
    }
}

.header_nav{
    border: 2px solid red;
    display: flex;
    gap: 30px;
}

.nav-href-home{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.nav-href-home a,.house_icone{
    color: var(--color-text-secondary);
    text-decoration: none;
}

.nav-href-home:hover .house_icone{
    color: var(--color-text);
}

.nav-href-home:hover .nav-href-home-a{
    color: var(--color-text);
}

#mode,/*sdf*/
#setting-panel_word-count{
    background: var(--color-background-secondary);
    color: var(--color-text-secondary);
    border: 1px solid #5e2ca5;
    padding: 3px;
    border-radius: 5px;
}

#mode:hover,
#setting-panel_word-count:hover{
    color: var(--color-text);
    background-color: var(--color-hover);
}

.setting-panel{
    display: flex;
    justify-content: flex-end;
    border: 2px solid red;
    margin-inline: 15%;
}

.setting-panel_wordCount{
    border: 2px solid green;
    color: var(--color-text);
    position: relative;
    bottom: 0;
    right: 0;
}

.main-display{
    border: 2px solid red;
    margin-inline: 12%;
    margin-top: 20vh;
    overflow: hidden;
    height: 20vh; 
}

#main-word-display {
  font-size: xx-large;
  color: var(--color-text);                 
  overflow-y: auto;          
  max-width: 100%;
  padding: 10px;
  scroll-behavior: smooth;
  line-height: 6vh;   
}

#main-word-display span{
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.restart_icone{
  border: 2px solid red;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.refresh_icone{
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.refresh_icone:hover{
  color: var(--color-text);
  transform: rotate(90deg);
}

#results{
    color: var(--color-text);
}