@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand",sans-serif ;
}
  
:root {
    --color-background: #1e1e1e;
    --color-text: #E0E0E0;
    --color-text-secondary: #AAAAAA;
  
    --color-accent: #A259FF;
    --color-hover: #BB86FC;
    --color-success: #50FA7B;
    --color-error: #FF5555;
}

body{
    background-color: var(--color-background);
}
header {
  padding: 0 10px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: animation2 2s linear;
}
.header-logo {
  font-size: 1.4rem;
  color: #8A2BE2; 
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}

.header-cursor {
  display: inline-block;
  width: 10px;
  height: 1.2em;
  background-color: #8A2BE2;
  margin-left: 5px;
  animation: blink 0.7s steps(1) infinite;
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
