@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
  
:root {
    --color-background: #1e1e1e;
    --color-text: #E0E0E0;
    --color-text-secondary: #AAAAAA;
  
    --color-accent: #A259FF;
    --color-hover: #BB86FC;
    --color-success: #50FA7B;
    --color-error: #FF5555;
}

body{
    background-color: var(--color-background);
    height: 100vh;
    overflow: hidden;
}

header {
    padding: 0 10px;
    height: 90px;
    display: flex;
    align-items: center;
    animation: headerAnimation 2s linear;
}

.header-logo {
    font-size: 40px;
    color: var(--color-text); 
    font-weight: bold;
}

.header-cursor {
    color: var(--color-accent);
    animation: cursorAnimation 1s step-start infinite;
}

@keyframes  cursorAnimation{
    50% {
        opacity: 0;
    }
}

.home {
    display: flex;
    align-items: center;
    height: calc(100% - 80px);
}

.home_layout {
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_left {
    width: 45%;
    animation-delay: 1s;
    animation: fromLeftAnimation 2s linear; 
}

.home_title {
    color: #20669d;
    font-size: 12px;
}

.home_slogan{
    color: var(--color-text);
    margin:20px 0;
    font-size: 35px;
    animation-delay: 1s;
    animation: fromLeftAnimation 2s linear; 
    animation: fromLeftAnimation 2s linear; 
}

.home_description{
    color: var(--color-text-secondary);
    font-size: 1.1rem;
}

.home_left .home_buttons {
    margin: 30px 0;
    animation-delay: 3s;
    animation: fromLeftAnimation 2s linear; 
}

.home_buttons a {
    border-radius: 5px; 
    padding: 8px 30px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.home_buttons a:hover {
    background-color: var(--color-hover); 
    color: var(--color-text); 
}

.home_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    animation-delay: 2s;
    animation: fromLeftAnimation 2s alternate;
}

.home_stats.home_stats-wpm {
    border: 1px solid var(--color-accent);
    color: var(--color-text);
    padding: 10%;
    width: 12vw;
    margin-left: 25%;
    border-radius: 10px;
    /*background-color: var(--color-accent);*/
    text-align: center;
    box-shadow:
        0 4px 10px rgba(162, 89, 255, 0.15),
        0 6px 15px rgba(187, 134, 252, 0.1);
}

.home_stats.home_stats--accuracy {
    border: 1px solid var(--color-accent);
    color: var(--color-text);
    margin-left: 40%;
    padding: 10%;
    width: 12vw;
    border-radius: 10px;
    text-align: center; 
    box-shadow:
        0 4px 10px rgba(162, 89, 255, 0.15),
        0 6px 15px rgba(187, 134, 252, 0.1);

}


.home_wpm-count,
.home_accuracy-count {
  font-size: 2.5rem; 
  margin-bottom: 0.5rem; 
}

.home_wpm-label,
.home_accuracy-label {
  font-size: 1.2rem; 
  margin-top: 0; 
}

@keyframes fromLeftAnimation {
  from{
      transform: translateX(-600px);
  }
}

@keyframes headerAnimation{
  from{
      transform: translateY(-100px);
  }
}
